.list{
    list-style: none;
    padding-left: 36rem;
    margin: 0;
}

.list_item{
    border-bottom: 2rem solid #e4e4e4;
    padding-top: 20rem;
}

.title{
    font-size: 32rem;
}

.subTitle{
    margin: 20rem 0;
    font-size: 24rem;
    color: $subFont;
}